<div class="admin-header d-flex justify-content-between align-items-center">
    <h2>Gerenciar Categorias</h2>
    <a href="/Admin" class="btn btn-voltar-painel">
        <i class="fas fa-arrow-left"></i> Voltar ao Painel
    </a>
</div>

<a role="button" class="btn btn-success" asp-action="Create"> adicionar categoria</a>
<br/>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Slug</th>
      <th scope="col">icone</th>
      <th scope="col">categoria pai</th>
      <th scope="col"> ações</th>
    </tr>
  </thead>
 <tbody>
    
@foreach (var item in Model)
        {
            <tr scope="row">
                <td>@item.Name</td>
                <td>sem slug </td>
                <td><img src="@item.Icon" ></td>
                <td>@item.ParentCategory?.Name</td>
                <td>
                  <a asp-action="Edit" asp-route-id="@item.Id" role="button" class="btn btn-sm btn-warning">Editar</a> 
                   <a asp-action="Delete" asp-route-id="@item.Id" role="button" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }