<a role="button" class="btn btn-success" asp-action="Create"> adicionar categoria</a>
<br/>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">preço</th>
      <th scope="col">imagem</th>
      <th scope="col">categoria</th>
      <th scope="col"> ações</th>
    </tr>
  </thead>
 <tbody>
    
@foreach (var item in Model)
        {
            <tr scope="row">
                <td>@item.Name</td>
                <td>@item.Price.ToString("C")</td>
                <td>
                @if (!string.IsNullOrEmpty(item.Image))
                    {
                        <img src="@item.Image" width="50" />
                    }
                </td>
                <td>@item.Category?.Name</td>
                <td>
                  <a asp-action="Edit" asp-route-id="@item.Id" role="button" class="btn btn-sm btn-warning">Editar</a> 
                   <a asp-action="Delete" asp-route-id="@item.Id" role="button" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }